{% extends "_base.html" %}

{% block body %}
<form method="post" action="{{ crate::routes::S_CREATE }}" ts-req="" ts-req-selector=".log" ts-target="sibling .log">
  <input type="text" name="name" value="">
</form>

{% if let Some(log) = log %}
<p role="alert" class="log p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" ts-trigger="load delay 3s" ts-req="{{ crate::routes::s_create_status(Some("dfsdf".to_owned())) }}" ts-req-selector=".log">
    {{ log }}
</p>
{% else %}
<p class="log"></p>
{% endif %}

{% endblock %}
